<?xml version="1.0" ?>
<config>
	<modules>
		<Chronopost_Shipping>
			<version>0.1.0</version>
		</Chronopost_Shipping>
	</modules>
	<global>
		<helpers>
			<chronopost_shipping>
				<class>Chronopost_Shipping_Helper</class>
			</chronopost_shipping>
		</helpers>
		<blocks>
			<chronopost_shipping>
				<class>Chronopost_Shipping_Block</class>
			</chronopost_shipping>
			<checkout>
				<rewrite>
					<onepage_progress>Chronopost_Shipping_Block_Onepage_Progress</onepage_progress>
				</rewrite>
			</checkout>
		 	<chronopostshipping>
				<class>Chronopost_Shipping_Block</class>
			</chronopostshipping>
		</blocks>
		<models>
			<chronopost_shipping>
				<class>Chronopost_Shipping_Model</class>
			</chronopost_shipping>
			<checkout>
				<rewrite>
					<type_onepage>Chronopost_Shipping_Model_Checkout_Onepage</type_onepage>
				</rewrite>
			</checkout>
			<pickmeshop>
				<class>Chronopost_Shipping_Model</class>
				<resourceModel>pickmeshop_mysql4</resourceModel>
			</pickmeshop>
			<pickmeshop_mysql4>
				<class>Chronopost_Shipping_Model_Mysql4</class>
				<entities>
					<pickmeshop>
						<table>pickme_shop</table>
					</pickmeshop>
				</entities>
			</pickmeshop_mysql4>
			<sales>
				<rewrite>
					<order>Chronopost_Shipping_Model_Sales_Order</order>
 				</rewrite>
			</sales>
		</models>
		<resources>
			<chronopostshipping_setup>
				<setup>
					<module>Chronopost_Shipping</module>
					<class>chronopost_shipping/resource_setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</chronopostshipping_setup>
			<pickmeshop_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pickmeshop_write>
			<pickmeshop_setup>
				<connection>
					<use>core_read</use>
				</connection>
			</pickmeshop_setup>
		</resources>
		<events>
			<checkout_controller_onepage_save_shipping_method>
				<observers>
					<save_shop>
						<type>singleton</type>
						<class>chronopost_shipping/observer</class>
						<method>savePickmeshop</method>
					</save_shop>
				</observers>
			</checkout_controller_onepage_save_shipping_method>
			<sales_convert_order_to_quote>
				<observers>
					<copy_shop>
						<type>singleton</type>
						<class>chronopost_shipping/observer</class>
						<method>copyPickmeshopToQuote</method>                        
					</copy_shop>
				</observers>
			</sales_convert_order_to_quote>
			<adminhtml_sales_order_create_process_data>
				<observers>
					<update_order_creation_model>
						<type>singleton</type>
						<class>chronopost_shipping/observer</class>
						<method>updateOrderCreationQuoteWithPickme</method>                        
					</update_order_creation_model>
				</observers>            
			</adminhtml_sales_order_create_process_data>
		</events>
		<fieldsets>
			<sales_convert_quote_address>
				<pickme_id>
					<to_order>*</to_order>
				</pickme_id>
			</sales_convert_quote_address>
		</fieldsets>
	</global>
	<frontend>
		<layout>
			<updates>
				<chronopost_shipping>
					<file>chronopost_shipping.xml</file>
				</chronopost_shipping>
			</updates>
		</layout>
		<routers>
			<deliverytime>
				<use>standard</use>
				<args>
					<module>Chronopost_Shipping</module>
					<frontName>shipping</frontName>
				</args>
			</deliverytime>
		</routers>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<chronopostshipping after="Mage_Adminhtml">Chronopost_Shipping</chronopostshipping>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<chronopostshipping>
											<title>Chronopost PickUp Settings</title>
										</chronopostshipping>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<chronopost_shipping>
					<file>chronopost_shipping.xml</file>
				</chronopost_shipping>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<carriers>
			<pickme>
				<pickme_url>http://83.240.239.170:7790/ChronoWSB2CPointsv3/GetB2CPoints_v3Service?wsdl</pickme_url>
				<active>1</active>
				<model>chronopost_shipping/carrier_customrate</model>
				<title>Chronopost PickUp</title>
				<name></name>
				<price_overcost>0</price_overcost>
			</pickme>
		</carriers>
	</default>
</config>
