<?xml version="1.0"?>

<default>
    <carriers>
        <Chronopost_Pickup>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Chronopost/carrier_vhronopost</model>
                <name>New Module</name>
                <title>New Module</title>
                <specificerrmsg>
                    This shipping method is currently unavailable.
                    If you would like to ship using this shipping
                    method, please contact us.
                </specificerrmsg>
                <handling_type>F</handling_type>
        </Chronopost_Pickup>
    </carriers>
</default>
    
<config>
  <modules>
<!-- declare module's version information -->
    <Chronopost_Pickme>
<!-- this version number will be used for database upgrades -->
      <version>0.1.0</version>
    </Chronopost_Pickme>
  </modules>
 
  <global>
<!-- declare model group for new module -->
    <models>
<!-- model group alias to be used in Mage::getModel() -->
      <newmodule>
<!-- base class name for the model group -->
        <class>Chronopost_Pickme_Model</class>
      </newmodule>
    </models>
 
<!-- declare resource setup for new module -->
    <resources>
<!-- resource identifier -->
      <newmodule_setup>
<!-- specify that this resource is a setup resource and used for upgrades -->
        <setup>
<!-- which module to look for install/upgrade files in -->
          <module>Chronopost_Pickme</module>
        </setup>
<!-- specify database connection for this resource -->
        <connection>
<!-- do not create new connection, use predefined core setup connection -->
          <use>core_setup</use>
        </connection>
      </newmodule_setup>
    </resources>
  </global>
</config>
